.scroll-top {
    position: fixed;
    right: 30px;
    @extend %bg-primary;
    height: 40px;
    width: 40px;
    z-index: 999;
    color: $color_white;
    bottom: 30px;
    display: none;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    @include transition(all .3s);
    &:hover {
        background: #000;
    }
}