$search-height: 50px;
.top-search-form {
    position: absolute;
    top: 57px;
    width: 380px;
    background: #dedede;
    z-index: 999;
    display: none;
    padding: 10px;
    .search-form {   
        label {
            margin: 0;
            width: calc(100% - 119px);
            float: left;
        }     
        .search-field {
            border: 0;
            height: $search-height;
            padding: 1rem;
            float: left;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
        .search-submit {
            width: 117px;
            height: 50px;
            border: 4px solid $color_white;
            cursor: pointer;
        }
    }
}


