%menu-position {
	visibility: hidden; 
    z-index: -1;
    opacity: 0;
    top: 110%;
    left: 0;
}
%visible-menu {
	opacity: 1;
    z-index: 999;
    visibility: visible;
    top: 100%;
}

%menu-icon {
	content: "\f0d8";
    position: absolute;
    top: -5px;
    font-family: fontAwesome;
    line-height: 0;
    font-size: 35px;
    color: $color_white;
    left: 3px;
}

.#{$prefix}-nav-bar-section {
    z-index: 9999 !important;
}

.header-light .menu-toggler span {
    background: $color_black;
}

.menu-toggler span {
    background: $color_white;
}

@import "first-level",
		"mega-menu",
		"second-level-menu";



