body{
    font-family : $font-secondary;
    font-weight : $font-weight-normal;
    color: $color-black;
    line-height: 1.67;
 
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a, h2 a , h3 a, h4 a, h5 a, h6 a 
.bt-btn-group a,
button,
a.btn,
.button,
input,
.theme-btn,
.bt-btn-primary,
.bt-main-menu a,
.bt-top-bar-opening-hours,
.bt-top-bar-opening-hours li,
.bt-top-bar-opening-hours li a,
.read-more-text a {
	font-family : $font-primary;
}